* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .links {
    height: 100%; 
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
  }

  .image {
      height: 50px;
      width: 50px;
  }
  
  .sidenav {
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white;
  }
  
  .content {
    margin-left: 200px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }