/* {
    box-sizing: border-box;
  }
  
  body {
    border: solid;
    border-color: grey;
    padding: 0 15% 0 15%;
    font-family: Arial, Helvetica, sans-serif;
  }

  p {
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    text-align: center;
  }
*/
  h2 {
    font-family: georgia; 
    font-size: 200%;
    color: teal;
  }

  body {
    font-family: sans-serif;

  }

  .col-centered {
    float: none;
    margin: 0 auto;
  }
/*
  .container-fluid {
    display: flex;
    justify-content: center;
  }

  h1 {
    text-align: center;
    color: black;
    font-size: 200%; 
  }
  
  .col-sm-4 {
    margin: 0 auto;
  }

  .image {
      height: 50px;
      width: 50px;
  } 
/*